*{
	

}

body{
	
	bacground:f1fbff;
}

.section-padding{

	padding:100px 0;
}

.carousel-item{
     height:100vh;
     min-height:300px;	
}

.carousel-caption{
	
	bottom:250px;
	z-index:2;
}

.carousel-caption h5{
	font-size: 45px;
	text-transform:uppercase;
	letter-spacing:2px;
	margin-top: 25px;

}

.corousel-caption{
	width:60%;
	margin:auto;
	font-size:18px;
	line-height:1.9;
	
}

/* Carousel-caption responsiveness */	

.carousel-inner::before{
	
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
    background: rgba(0,0,0,0.7);
    z-index:1;
	}


.navbar .nav-item .nav-link {
	
	font-size: 21px;
	font-weight:500;
	color:black;
	display:inline;
}

.navbar-nav .nav-item{
	
	color:white;
}

.navbar .nav-item .nav-link{
	font-weight: bold;
	
}

.navbar .nav-item .nav-link:hover{
	
	border-radius: 8px;
	color:white;
    background-color: powderblue;
    color:black;
	
	
}



	
	.navbar-light .navbar-brand{
	color: #000;
	font-size: 25px;
	text-tranform: uppercase;
	font-weight:780;
	letter-spacing: 2px;
	
	}
	
	.navbar-light .navbar-brand:focus,
	.navbar-light .navbar-brand:hover{
	  color:#000;
	  color: white;
      text-shadow: 2px 2px 4px #000000;
	}
	
	
  .w-100{
   height: 100%;
   
   }
   
   
   
   
   
 /* Carousel-caption responsiveness */
 
 
 
 
 
 
 /* Our Services section*/
 
 .services .card-body i{
 font-size:50px;
 margin-bottom:10px;
 }
 
 
 /* Our Services section*/
 
 
 


   
    @media only screen and(max-width: 768px) and (max-width: 991px){
       .carousel-caption{
        bottom: 370px;
       }
       
       .carousel-caption{
        width: 100%;
       }
       
       .card{
        margin-bottom: 100px;
       }
    
    }
   
   @media only screen and(max-width: 767px){
   
   .navbar-nav{
   text-align: center;
   }
   
   .corousel-caption{
     bottom: 125px;
     
   
   }
   
   .corousel-caption h5{
  
   font-size: 17px;
   
   }
   
   .corousel-caption a{
    padding : 10px 15px;
   }
   
   
.corousel-caption p{
   width: 100%;
   line-height: 1.6;
   font-size: 12px;
   
   }
   
 .about-text h2{
 padding-top: 50px;
  color:red;
 }  
 
 .about-text p{
 color:red;
  
 } 
 
 .card{
 margin-bottom: 30px;
 }
   
 
   }
   
   
   
    /* Carousel-caption responsiveness */
     
    
    
     
   
   
   /* footer responsiveness */	    		 
   
 @media only screen and (max-width: 100%){
 .about-text h2{
     width:100%;
     line-height: 1.6;
     text-align:center;
 }
 
 
 }  
  /* footer responsiveness */	    	
	
		
   
   
   
	
/* Footer Css */
	
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
 body{
    font-family:sans-serif;
}
.footer{
     position:absolute;
     bottom:0;
     left:0;
     right:0;
     background:black;
     height:auto;
     padding-top: 40px;
     width:100vw;
     color:white;



}
.footer-content{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    text-align:center;
    color:white;
    

}

.h3{
   font-size:2.1rem;
   font-weight:500;
   text-transform:capitalize;
   line-height: 3rem;

}
.p{
    max-width:500px;
    margin:10px auto;
    line-height:28px;
    font-size:14px;

}
	
/* Footer Css */		
	
	
	
	.navvv{
      margin-right:-20px;
	}
	
	.demo{
	 margin-right:-20px;
	}





   /* footer responsiveness code  */	
   
   h3{
    color:white;
    
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:sans-serif;
}
footer{
     position:relative;
     bottom:0;
     left:0;
     right:0;
     background:black;
     height:auto;
     padding-top: 40px;
     width:100vw;
     color:white;



}
.footer-content{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    text-align:center;

}

h3{
   font-size:2.1rem;
   font-weight:500;
   text-transform:capitalize;
   line-height: 3rem;

}
p{
    max-width:500px;
    margin:10px auto;
    line-height:28px;
    font-size:14px;

}
.socials{
    list-style: none;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:1rem 0 3rem 0;
    
    
    
    
}
.socials li{
    margin:0 10px;
    
   
}
li a{
    text-decoration:none;
    color:white;
    border:1.1px solid white;
    padding:8px;
    border-radius:50%;
    width:35px;
     
}

   /* footer */	
.footer-menu{
    margin-bottom:20px;
    
 }
 .footer-menu ul{
     display:flex;
     
 }
 .footer-menu ul li{
     padding-right:10px;
     display:block;
     
     
 }
 .footer-menu ul li a{
     color:#cfd2d6;
     border:1.3px solid white;
     padding: 6px 15px;
     border-radius:50px;
     text-decoration:none;
     
     
     
     
 }
 .footer-menu ul li a:hover{
     color:#27bcda;
     
     
 }

 .footer-bottom{
     background:#000;
     margin-top:20px;
     width:100vw;
     padding:20px;
     text-align: center;
     
     
 }

 .footer-bottom p{
     text-align:center;
     font-size:14px;
     word-spacing:2px;
     text-transform:capitalize;
     
     
 }
 .footer-bottom p a{
     color:#44bae8;
     font-size:16px;
     text-decoration:none;
     
     
 }
 
 .footter{
 
 margin-top:300px;
 }

/* footer */	 
 
 
 
 
   /* footer responsiveness code  */	
/make it responsive/
@media(max-width:500px){
    .footer-menu ul{
        display:inline;
        
        
    }
    .footer-menu ul li{
         margin-bottom:20px;
       
        
    }
    
    
}
   
/* footer responsiveness code  */	
   
   
   
   
   /* Registration form  Login form */	
  
 .card{
 
 position:relative;
 top:150px;
 
 }
  
 

.form-group{
	
	min-height: 1px;
    padding: 10px;
}

.fa-asterisk:before{
	font-size:7px;
	color:red;
}

.labeld{
  padding:10px;	
	
}
  
   
  /* Registration form  Login form */		
   
   
   
   
   
	
	